nav{
    top:0px;
    position: fixed;
    background:linear-gradient(45deg ,rgb(47, 120, 231), rgb(57, 198, 233));

}
nav>.container-fluid>a{
    font-size: 20px;
    font-weight: bold;
}
form{
width: 500px;
padding: 5px;
border-radius: 10px;
background-color: white;
}
form>input{
padding: 1px;
width: 450px;
border: none;
}
form>input:focus{
/* border: none; */
outline: none;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures navbar stays above other elements */
}
